#para1{
    border: 4px solid orange;
}

#nav{
    display: flex;
 justify-content: space-around;
 margin-top: 12px;
}

#nav1{
    display: flex;
    flex-direction: column;
}

#logo_name{
    font-size: 20px;
    font-family: sans-serif;
    font-style: italic;
    color: #2A55E5;
    font-weight: bold;
}

#input_data{
    border: none;
    width: 350px;
    height: 20px;
   padding-left: 12px;
   background-color: #F0F5FF;
}

.navtab{
    display: flex;
    align-items: center;
}

#searchbar{
    background-color: #F0F5FF;
    padding: 4px;
    border-radius: 10px;
}